Project_PALAPA.capx.autosave
Event sheets/Buaya_AI.uistate.xml
Event sheets/Buaya_AI.uistate.xml
Event sheets/Buaya_AI.uistate.xml
Event sheets/Char_Sheet.uistate.xml
Project_PALAPA.uistate.xml
Project_PALAPA.capx.backup1
Layouts/Instantiates.uistate.xml
Layouts/Level_2.uistate.xml
Layouts/Level_3.uistate.xml
Event sheets/Weapons_Sheet.uistate.xml
Event sheets/Save & Load.uistate.xml
Event sheets/Pusaka_Sheet.uistate.xml
Event sheets/PesutBoss_AI.uistate.xml
Event sheets/Perahu_AI.uistate.xml
Event sheets/OctoBoss_AI.uistate.xml
Event sheets/MainMenu_Sheet.uistate.xml
Event sheets/LevelSelect_Sheet.uistate.xml
Event sheets/LevelScoring_Sheet.uistate.xml
Event sheets/Level_8_Manager.uistate.xml
Event sheets/Level_7_Manager.uistate.xml
Event sheets/Level_6_Manager.uistate.xml
Event sheets/Level_5_Manager.uistate.xml
Event sheets/Level_4_Manager.uistate.xml
Event sheets/Level_3_Manager.uistate.xml
Event sheets/Level_2_Manager.uistate.xml
Event sheets/Level_10_Manager.uistate.xml
Event sheets/Level_1_Manager.uistate.xml
Event sheets/KiraiDiary_Sheet.uistate.xml
Event sheets/Journals_Sheet.uistate.xml
Event sheets/Instantiates_Sheet.uistate.xml
Event sheets/Game_Status.uistate.xml
Event sheets/Enemy3_AI.uistate.xml
Event sheets/Enemy2_AI.uistate.xml
Event sheets/Enemy1_AI.uistate.xml
Event sheets/Buaya_AI.uistate.xml
*.uistate.xml
*.backup1
